# ===========================
# Ignorar datasets grandes
# ===========================
datasets/
featuresPackts/
rotulados/
SecurityEvents_Network_datasets/
temp_dir/
temp_dir_Total/

# ===========================
# Ignorar resultados gerados
# ===========================
resultPlots/
results/
Resultados-Latincom/
tempo_total.txt

# ===========================
# Ignorar arquivos tempor?rios
# ===========================
*.log
*.tmp
*.swp
*.bak
*.DS_Store

# ===========================
# Ignorar cache do Python
# ===========================
__pycache__/
*.pyc
*.pyo
*.pyd
